/* TODO - optimize for mobile */

body {
    background-image: url('../../images/bg-sky.png');
  }

  
.petContainer1 {
    background-image: url('../../images/Grass_Texture.png');
    min-height: 300px;
    bottom: 0;
}

.card-homepage {
    width: 45rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: cornsilk;
    padding: 15px;
    position: relative;
    left: 50px;
}

#sun {
    float: right;
    margin-right: 45px;
    width: 200px;
    height: 200px;
}

  #catImg {
    float: right;
    margin-right: 50px;
  }
  #foxImg {
    float: right;
    margin-right: 100px;
  }
  #rabbitImg {
    float: right;
    margin-right: 75px;
  }
  
    #cloud1 {
        float: right;
        margin-right: 75px;
        margin-top: 60px;
        width: 125px;
        height: 92px;
    }
    
    #cloud3 {
        float: right;
        margin-right: 125px;
        margin-top: 30px;
        width: 125px;
        height: 92px;
    }


  


