
.profileContainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.petContainer2 {
    width: 40vw;
    height: 40vh;
    background-image: url('../../images/Grass_Texture.png');
    border: 1px solid green;
    border-radius: 3px;
    margin-top: auto;
}


.profileInfoBoxes {
    height: 25rem;
    width: 25rem;
    border: 1px solid rgb(82, 60, 13);
    border-radius: 5px;
    background-color: rgb(250, 247, 233);
}

.btn-food {
    background-color: burlywood;
    color: rgb(70, 27, 7);
    border: 1px solid rgb(82, 60, 13)
}

/* #profilePet {
    width: 128px;
    height: 128px;
} */
/* 
keyframes to animate pet sprite bouncing around (if i can get it to work)
@keyframes petOnProfile {
    0%   { left:0px; }
    25%  { left:100px; }
    50%  { left:200px; }
    75%  { left:300px; }
    100% { left:400px; }
} */

/* #pet1:hover {
    background:url('../../images/WhitePet1_Png.png') 0 0;
} */

/* import React from "react";
import ReactDOM from "react-dom";
;
function Loader() {
  var spin = keyframes`
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
`;
  var styles = {
    border: "16px solid #eee",
    borderTop: "16px solid #3ae",
    borderRadius: "50%",
    width: "1cm",
    height: "1cm",
    animation: `${spin} 2s linear infinite`
  };
  return <div style={styles} />;
}
const rootElement = document.getElementById("root");
ReactDOM.render(<Loader />, rootElement); */